<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/index.html}" >
<head>
  <title>GOOD JOBS</title>
</head>
<div layout:fragment="content">
  <h1>등록된 채용공고</h1>
  <div class="mb-3 faint-border-bottom pb-1" id="location-box">
    <div>
      <div class="mb-half" id="location-table">
        <div class="row text-center">
          <div class="w-30 py-half"><span>시·도</span></div>
          <div class="w-70 py-half"><span>시·군·구</span></div>
        </div><!-- end of 1행 -->
        <div class="row">
          <div class="w-30 row px-1 py-half" id="sido-box">
            <div th:each="sido : ${sidoList}" class="w-50">
              <span th:text="${sido.name}" th:data-code="${sido.code}"></span>
            </div>
          </div>
          <div class="w-70 row px-1 py-half" id="sigungu-box"></div> </div><!-- end of 2행 -->
        <div class="row px-1 pt-1" id="selected-box"></div><!-- end of 3행 -->
        <div class="row px-1 pb-1" id="reset-box">
          <span class="ml-1 small mr-1" id="locationCnt"> 10 / 10 </span>
          <span class="grey-border px-1 py-half" id="resetBtn"><i class="fa-solid fa-arrow-rotate-left"></i>초기화</span>
        </div><!-- end of 4행 -->
        <div id="location-list"></div>
      </div>
    </div>
  </div><!-- end of 근무지역 -->
  <div id="template">
    <div>
      <div class="row sp-between">
        <span class="dark-grey">총 [[${responseDto.total}]]건</span>
        <div class="row">
          <div>
            <input
                    id="visible"
                    class="visible"
                    type="checkbox"
                    th:checked="${requestDto.closed}"
            />
            <label class="ml-quarter mr-1" for="visible" >마감된 공고 포함</label>
          </div>
          <div class="relative mr-1" id="sort-box">
            <div class="row">
          <span class="grey-border w-100 py-half" id="sortBtn"
                th:text="${requestDto.sortType == 'no' ? '최신등록순' : '마감임박순'}"></span >
              <i class="fa-solid fa-caret-down" id="sortDropdownBtn"></i>
            </div>
            <div class="py-half grey-border hidden" id="sort-option-box">
              <ul class="px-3quarter">
                <li class="sort-option" data-text="no">최신등록순</li>
                <li class="sort-option" data-text="deadline">마감임박순</li>
              </ul>
            </div>
          </div>
          <div class="relative" id="size-box">
            <div class="row">
              <span class="grey-border w-100 py-half" id="sizeBtn">[[${responseDto.size}]]개씩</span >
              <i class="fa-solid fa-caret-down" id="sizeDropdownBtn"></i>
            </div>
            <div class="py-half grey-border hidden" id="size-option-box">
              <ul class="px-3quarter">
                <li class="size-option" data-num=20>20개씩</li>
                <li class="size-option" data-num=30>30개씩</li>
                <li class="size-option" data-num=40>40개씩</li>
                <li class="size-option" data-num=50>50개씩</li>
              </ul>
            </div>
          </div>
        </div>
      </div><!--end of sortType-->
      <div class="py-1 mb-3" id="job-list-container">
        <div class="row text-center py-1 bold">
          <span class="w-15 px-1">지역</span>
          <span class="w-45 px-1">공고제목/기업명</span>
          <span class="w-10 px-1">경력</span>
          <span class="w-15 px-1">학력</span>
          <span class="w-15 px-1">마감일</span>
        </div>
        <div class="row text-center py-1" th:if="${responseDto.dtoList == null}">
          <span class="w-100 px-1 word-break">등록된 공고가 없습니다.</span>
        </div>
        <div class="row text-center py-1" th:each="dto:${responseDto.dtoList}">
          <div class="col w-15 px-1 word-break">
            <span >[[${dto.sigunguNames[0]}]]</span>
            <span class="mt-half small another-location mx-3quarter"
                  th:if="${#lists.size(dto.sigunguNames) > 1}">+ [[${#lists.size(dto.sigunguNames) - 1}]]개 지역</span>
          </div>
          <div class="w-45 text-left col px-1">
            <span class="medium-large bold">[[${dto.title}]]</span>
            <span class="pt-half dark-grey">[[${dto.companyName}]]</span>
          </div>
          <div class="w-10 px-1">
            <div class="col">
              <span th:if="${dto.exp}">경력</span>
              <span class="pt-half" th:if="${dto.exp} and ${dto.expYear ne null}" th:text="${dto.expYear + '년 이상'}"></span>
              <span th:unless="${dto.exp}">신입</span>
            </div>
          </div>
          <div class="w-15 px-1" th:switch="${dto.edu}">
            <span th:case="0">학력무관</span>
            <span th:case="1">고등학교 <i class="fa-solid fa-arrow-up-long grey"></i></span>
            <span th:case="2">대학(2,3년제) <i class="fa-solid fa-arrow-up-long grey"></i></span>
            <span th:case="3">대학(4년제) <i class="fa-solid fa-arrow-up-long grey"></i></span>
            <span th:case="4">석사 학위 <i class="fa-solid fa-arrow-up-long grey"></i></span>
            <span th:case="5">박사 학위 <i class="fa-solid fa-arrow-up-long grey"></i></span>
          </div>
          <div class="w-15 px-1 col">
            <div class="mb-half"><span class="bold small" th:id="'isClosed_' + ${dto.no}"></span></div>
            <span th:id="'deadline_' + ${dto.no}"></span>
            <span>[[${dto.deadline}]]</span>
          </div>
          <script th:inline="javascript" th:src="@{/js/deadline.js}"></script>
          <script th:inline="javascript">
            checkDeadline([[${dto.no}]], [[${dto.deadline}]]);
          </script>
        </div>
      </div><!--end of job list container-->
      <div id="pagination" class="row h-center mb-5">
        <span class="p-half m-half prevNext pointer pageBtn" th:if="${responseDto.prev}"
              th:data-num="${responseDto.page - 5 < 1 ? 1 : responseDto.page - 5}">
          <i class="fa-solid fa-chevron-left"></i>
        </span>
        <th:block th:each="i:${#numbers.sequence(responseDto.start, responseDto.end)}">
          <span
                  th:if="${i > 0}"
                  th:class="${responseDto.page == i} ?
              'p-half m-half pointer pageBtn active' : 'p-half m-half pointer pageBtn'"
                  th:data-num="${i}">[[${i}]]
          </span>
          <span th:unless="${i > 0}" class="'p-half m-half pointer pageBtn active" data-num="1">1</span>
        </th:block>
        <span class="p-half m-half prevNext pointer pageBtn" th:if="${responseDto.next}"
              th:data-num="${responseDto.page + 5 > responseDto.last ? responseDto.last : responseDto.page + 5}">
          <i class="fa-solid fa-angle-right"></i>
        </span>
      </div><!--end of pagination-->
    </div>
  </div><!--end of template-->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</div>
<script layout:fragment="script" th:inline="javascript">

  // 변수 선언
  const locations = new Set();                                      // 선택한 근무지역 집합
  const sidoBtn = document.querySelectorAll("#sido-box span")       // 시·도 span
  const resetBtn = document.getElementById("resetBtn");             // 초기화 버튼

  let pageBtn = document.querySelectorAll(".pageBtn")               // 페이지 이동버튼 span

  let closedBtn = document.getElementById("visible");               // 마감된 공고 포함 input

  let sortBtn = document.getElementById("sortBtn");                 // 정렬방식 span
  let sortBox = document.getElementById("sort-box");
  let sortOptionArray = document.querySelectorAll(".sort-option")   // 정렬방식 li

  let sizeBtn = document.getElementById("sizeBtn");                 // 페이지당 글 개수 span
  let sizeBox = document.getElementById("size-box");
  let sizeOptionArray = document.querySelectorAll(".size-option")   // 페이지당 글 개수 li


  /**
   * 시·도를 선택하면, 해당되는 시군구 목록을 AJAX 통신으로 받아온다.
   * 지역을 선택하면 css를 수정하고, 선택된 시군구 코드를 locations에 담는다.
   */
  // 각각의 시·도 버튼에 클릭 이벤트를 연결한다.
  sidoBtn.forEach(btn => {
    btn.addEventListener("click", function () {
      // css 수정(색상, 굵기 변경)
      selectSido(this);

      // 시군구 리스트 받아오기
      sigunguList(this.innerText);
    })
  })

  // 선택한 시·도 span에만 selected 클래스를 추가한다.
  function selectSido(span) {
    sidoBtn.forEach(btn => {
      btn.classList.remove("selected");
    })
    span.classList.add("selected");
  }

  // 시·도에 해당하는 시군구 목록를 받아 #sigungu-box에 보여준다.
  function sigunguList(sidoName) {
    axios.get(`/job/sigunguList?sidoName=${sidoName}`)
            .then(response => {
              const sigunguBox = document.getElementById("sigungu-box");
              const sigunguList = response.data;
              sigunguBox.innerHTML = '';

              sigunguList.forEach(sigungu => {
                const div = document.createElement("div");
                div.classList.add("w-25");

                const span = document.createElement("span");
                span.textContent = `${sigungu.name}`;
                span.dataset.code = `${sigungu.code}`;
                span.addEventListener("click", clickedSigungu);

                // 이미 선택된 시군구라면 selected 클래스를 추가한다.
                if (locations.has(`${sigungu.code}`)) {
                  span.classList.add("selected");
                }

                div.appendChild(span);
                sigunguBox.appendChild(div);
              })
            })
            .catch(error => {
              console.error(error);
            });
  }

  // 시군구 지역을 클릭했을 때 호출된다.
  function clickedSigungu() {
    if(this.classList.contains("selected")) {
      // 이미 선택된 지역을 다시 클릭한 경우라면, 기존의 선택을 취소한다.
      removeLocation(this);
    } else {
      // 신규 지역을 선택한 경우
      if (locations.size < 10) {
        // 기존에 선택된 지역이 10개 미만일 때만 추가를 허용한다.
        addLocation(this);
      } else {
        alert("최대 10개의 지역을 선택할 수 있습니다.");
      }
    }
  }

  // 선택한 시군구를 근무지역에 추가한다.
  function addLocation(sigungu) {
    // locations에 시군구 추가
    locations.add(sigungu.dataset.code);

    // #selected-box에 시군구 추가
    const selectedBox = document.getElementById("selected-box");
    const span = document.createElement("span");
    const i = document.createElement("i");

    i.classList.add("fa-solid");
    i.classList.add("fa-xmark");
    i.dataset.code = `${sigungu.dataset.code}`;
    i.addEventListener("click", function () {
      removeLocation(i);
    });

    span.textContent = `${sigungu.textContent}`;
    span.appendChild(i);

    selectedBox.appendChild(span);

    // #locationCnt 업데이트
    updateLocationCnt()

    // 선택한 시군구 css 수정(배경, 굵기)
    sigungu.classList.add("selected");

    // 검색
    submitLocation()
  }

  // 선택한 시군구를 근무지역에서 삭제한다.
  // 이미 선택된 시군구를 다시 클릭하거나 i 태그를 눌렀을 때 호출된다.
  function removeLocation(sigungu) {

    // locations에서 시군구 삭제
    locations.delete(sigungu.dataset.code);

    // #selected-box에서 시군구 삭제
    const selectedBox = document.getElementById("selected-box");
    let targetI = selectedBox.querySelector(`i[data-code="${sigungu.dataset.code}"]`);
    targetI.closest("span").remove();

    // #locationCnt 업데이트
    updateLocationCnt();

    // 선택한 시군구 css 수정(배경, 굵기)
    const sigunguBox = document.getElementById("sigungu-box");
    let targetSpan = sigunguBox.querySelector(`span[data-code="${sigungu.dataset.code}"]`);
    if(targetSpan) {
      targetSpan.classList.remove("selected");
    }

    // 검색
    submitLocation()
  }

  // 선택한 근무지역의 개수를 확인한다.
  function updateLocationCnt() {
    const locationCnt = document.getElementById("locationCnt");
    const max = 10;
    const cnt = locations.size;
    locationCnt.textContent = `${cnt} / ${max}`
  }
  updateLocationCnt()

  // 선택한 근무지역을 초기화한다.
  resetBtn.addEventListener("click", resetLocations);
  function resetLocations() {
    // locations 집합 초기화
    locations.clear();

    // #sigungu-box 초기화
    const selected = document.getElementById("sigungu-box").querySelectorAll(".selected");
    selected.forEach(sigungu => {
      sigungu.classList.remove("selected");
    })

    // #selected-box 초기화
    const selectedBox = document.getElementById("selected-box");
    selectedBox.innerHTML = '';

    // 개수 업데이트
    updateLocationCnt();

    // 검색
    submitLocation();
  }

  // 선택한 근무지역을 input#location에 담고, 검색한다.
  function submitLocation() {
    let list = Array.from(locations);
    let locationString = list.join("+");
    const locationInput = document.getElementById("location");
    locationInput.value = locationString;

    // 페이지 번호 초기화
    resetPageNum();

    // 검색
    search();
  }


  /**
   * 마감된 공고 포함 여부가 바뀌면 #closed를 수정하고 다시 검색한다.
   */
  closedBtn.addEventListener("change", function () {
    document.getElementById("closed").checked = this.checked;
    resetPageNum();
    search();
  });


  /**
   * 페이지 이동 버튼을 누르면 input#page에 data-num 값을 담고 다시 검색한다.
   */
  pageBtn.forEach(btn => {
    btn.addEventListener("click", function () {
      const pageInput = document.getElementById("page");
      pageInput.value = btn.dataset.num;
      search();
    })
  })


  /**
   span#sortBtn을 클릭하면 옵션 목록인 div#sort-option-box가 나타난다.
   li.sort-option을 클릭하면 해당 텍스트가 span#sortBtn에 나타나고
   data-text 값이 input#sortType에 저장된다.
   옵션 목록은 다음과 같은 경우에 사라진다.
   1. 마우스가 옵션 목록 바깥으로 벗어났을 때
   2. 옵션이 선택 되었을 때
   */
  // span#sortBtn을 클릭하면 옵션 목록이 나타나게 한다.
  sortBtn.addEventListener("click", function () {
    let sortOptionBox = document.getElementById("sort-option-box");
    sortOptionBox.classList.toggle("hidden");
  })

  // 옵션 목록 바깥으로 마우스가 벗어나면 옵션 목록을 숨긴다.
  sortBox.addEventListener("mouseleave", function () {
    let sortOptionBox = document.getElementById("sort-option-box");
    sortOptionBox.classList.add("hidden");
  })

  // 각각의 옵션 li에 클릭이벤트를 연결한다.
  sortOptionArray.forEach(option => {
    option.addEventListener("click", function () {
      // span#sortBtn의 텍스트를 수정한다.
      sortBtn.textContent = this.textContent;
      sortBtn.style.color = "#171717";

      // input#sortType에 정렬 기준을 저장한다.
      const sortType = document.getElementById("sortType");
      sortType.value = this.dataset.text;

      // 옵션 목록 숨긴다.
      let sortOptionBox = document.getElementById("sort-option-box");
      sortOptionBox.classList.add("hidden");

      resetPageNum();

      search();
    })
  })


  /**
   span#sizeBtn을 클릭하면 옵션 목록인 div#size-option-box가 나타난다.
   li.size-option을 클릭하면 해당 텍스트가 span#sizeBtn에 나타나고
   data-num 값이 input#size에 저장된다.
   옵션 목록은 다음과 같은 경우에 사라진다.
   1. 마우스가 옵션 목록 바깥으로 벗어났을 때
   2. 옵션이 선택 되었을 때
   */
  // span#sizeBtn을 클릭하면 옵션 목록이 나타나게 한다.
  sizeBtn.addEventListener("click", function () {
    let sizeOptionBox = document.getElementById("size-option-box");
    sizeOptionBox.classList.toggle("hidden");
  })

  // 옵션 목록 바깥으로 마우스가 벗어나면 옵션 목록을 숨긴다.
  sizeBox.addEventListener("mouseleave", function () {
    let sizeOptionBox = document.getElementById("size-option-box");
    sizeOptionBox.classList.add("hidden");
  })

  // 각각의 옵션 li에 클릭이벤트를 연결한다.
  sizeOptionArray.forEach(option => {
    option.addEventListener("click", function () {
      // span#sizeBtn의 텍스트를 수정한다.
      sizeBtn.textContent = this.textContent;
      sizeBtn.style.color = "#171717";

      // input#size에 정렬 기준을 저장한다.
      const size = document.getElementById("size");
      size.value = this.dataset.num;

      // 옵션 목록 숨긴다.
      let sizeOptionBox = document.getElementById("size-option-box");
      sizeOptionBox.classList.add("hidden");

      resetPageNum();

      search();
    })
  })


  /**
   * 요청 페이지 번호를 1로 초기화한다.
   */
  function resetPageNum() {
    document.getElementById("page").value = 1;
  }


  /**
   * AJAX 통신으로 검색 결과를 받아 #template에 표시한다.
   */
  function search() {
    const page = document.getElementById("page").value;
    const size = document.getElementById("size").value;
    const location = document.getElementById("location").value;
    const keyword = document.getElementById("keyword").value;
    const closed = document.getElementById("closed").checked;
    const sortType = document.getElementById("sortType").value;

    axios.get("/job/searchResult", {
      params: {
        page: page,
        size: size,
        location: location,
        keyword: keyword,
        closed: closed,
        sortType: sortType
      }
    })
            .then(function (response) {
              document.getElementById("template").innerHTML = response.data;

              // 마감일 계산을 위한 script 실행
              const scripts = document.getElementById("template").getElementsByTagName("script");
              for (let i = 0; i < scripts.length; i++) {
                eval(scripts[i].innerText || scripts[i].textContent);
              }
            })
            .catch(function (error) {
              console.error(error);
            })
  }

</script>
</html>